.searchbar {
    margin: auto;
    width: 80%;
    align-items: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

label {
    font-size: x-large;
}

input {
    min-height: 7vh;
    width: 90%;
    margin: 1%;
    margin-right: 0%;
    justify-content: start;
}

.search-button {
    background-color: orange;
    color: white;
    font-size: 90%;
    font-weight: 700;
    border: none;
    min-height: 7vh;
    margin-top: 1%;
    border-radius: 4px;
    margin-left: 1%;
    font-size: 1rem;
    padding: 0.5em;
    min-width: 7%;
}

.search-button:hover {
    cursor: pointer;
    background-color: darkorange;
}

@media (max-width: 1100px) {
    input {
        width: 60%;
    }
}