.newscontainer {
    height: 95%;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px  0px 0px 0px;;
}