.comment-list {
    margin: 2%;
    border-bottom: 0.5px dotted gray;
    position: relative;
}

.author {
    color: gray;
    margin-bottom: 0%;
    display: inline;
}

.comment-time {
    display: inline;
    color: gray;
    font-size: .8rem;
    margin-left: 2%;
}

.comment-content {
    margin-top: 1%;
    font-family: sans-serif;
    font-size: 0.95rem;
}

.child-class {
    margin-left: 2%;
}
